<?xml version="1.0" encoding="UTF-8"?>
<Config>
    <!--
        Original document location.
        If this location is on network, make sure that PrizmService is running
        under a network account.
        If this location is on network, do not pass mapped drive path, instead pass
        absolute path like: \\computername\file.pdf
    -->
  <DocumentPath>%ALLUSERSPROFILE%\Accusoft\Prizm\Documents</DocumentPath>

  <!--
        imagestamp file location.
        If this location is on network, make sure that PrizmService is running
        under a network account.
        If this location is on network, do not pass mapped drive path, instead pass
        absolute path like: \\computername\file.pdf
    -->
  <ImageStampPath>%ALLUSERSPROFILE%\Accusoft\Prizm\ImageStamp</ImageStampPath>

  <!--
      Valid image file type
  -->
  <ValidImageStampTypes>.png,.jpg,.jpeg,.gif</ValidImageStampTypes>

    <!--
        A temporary location on machine.
        This will be accessed temporarily for caching purposes.
        Make sure that this directory has user access read/write permissions.
    -->
    <TempcachePath>%ALLUSERSPROFILE%\Accusoft\Prizm\Cache</TempcachePath>
    <MarkupsPath>%ALLUSERSPROFILE%\Accusoft\Prizm\Markups</MarkupsPath>
  <!--
      Location of files containing search terms.
      Used by Web API ../SearchTerms/<SearchTermsId>/Text or  ../SearchTerms/q/Text?SearchTermsId=<value>
      Returns json string of search term parameters.
  -->
    <SearchTermsPath>%ALLUSERSPROFILE%\Accusoft\Prizm\SearchTerms</SearchTermsPath>
    <WebServiceScheme>http</WebServiceScheme>
    <WebServiceHost>localhost</WebServiceHost>
    <WebServicePort>18681</WebServicePort>
    <WebServicePath>PCCIS/V1</WebServicePath>
    <WebServiceV2Path>v2</WebServiceV2Path>
    <EnableDocumentPath>false</EnableDocumentPath>
</Config>
