<?xml version="1.0" encoding="UTF-8"?>
<Config>
  <!--
          Original document location.
          If this location is on network, make sure that PrizmService is running
          under a network account.
          If this location is on network, do not pass mapped drive path, instead pass
          absolute path like: \\computername\file.pdf
      -->
  <DocumentPath>%ALLUSERSPROFILE%\Accusoft\Prizm\Documents</DocumentPath>
  <PrizmApplicationServicesScheme>http</PrizmApplicationServicesScheme>
  <PrizmApplicationServicesHost>localhost</PrizmApplicationServicesHost>
  <PrizmApplicationServicesPort>3000</PrizmApplicationServicesPort>
</Config>
