<?xml version="1.0"?>
<configuration>
  <connectionStrings/>
  <system.web>
    <compilation debug="false" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <!--Setting the maxUrlLength to 500 is necessary, specifically with the Flash viewer sample, because-->
    <!-- URLs that exceed the default 260 character path length may be created in client javascript and sent -->
    <!-- to the pcc.ashx handler in this sample. Without extending the max URL length, you may see a-->
    <!-- 400 Bad request status from the requests for email attachments if that document format is being viewed.-->
    <!-- The requestValidationMode setting is required in .NET 4 to disable request validation for .ashx files.-->
    <!-- Specifically, the SaveMarkup handler in the Review sample may fail without this.-->
    <!-- We have set maxRequestLength="1048576" (in KB), this is equal to 1 GB. This value may need to be lowered for production. -->
    <httpRuntime maxUrlLength="500" requestValidationMode="2.0"  maxRequestLength="1048576" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers accessPolicy="Read, Write, Execute, Script">
      <remove name="WebDAV" />
      <remove name="SimpleHandlerFactory-Integrated-4.0" />
      <remove name="SimpleHandlerFactory-Integrated" />
      <add name="SimpleHandlerFactory-Integrated" path="*.ashx" verb="GET,HEAD,POST,DEBUG,PUT" type="System.Web.UI.SimpleHandlerFactory" resourceType="Unspecified" requireAccess="Write" preCondition="integratedMode" />
      <add name="SimpleHandlerFactory-Integrated-4.0" path="*.ashx" verb="GET,HEAD,POST,DEBUG,PUT" type="System.Web.UI.SimpleHandlerFactory" resourceType="Unspecified" requireAccess="Write" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
       <requestFiltering>
          <!-- We have set maxAllowedContentLength="1073741824", this is equal to 1 GB. This value may need to be lowered for production. -->
          <requestLimits maxAllowedContentLength="1073741824" />
       </requestFiltering>
    </security>
  </system.webServer>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
</configuration>